* {
    margin: 0;
    padding: 0;
}


#block_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(224, 173, 132);
    padding: 5px 0px 0px 0px;
}

#nom_du_cafe {
    letter-spacing: 6px;
}

#nom_du_cafe:hover{
    cursor: pointer;
}

#image_cafe_acceuillante_arriere_plan {
    margin: auto;
    display: flex;
    justify-content: center;
}

#titre_nos_boissons{
    display: flex;
    justify-content: center;
    padding: 15px;
    letter-spacing: 6px;
}

#content_boissons{
    margin: 30px 50px 0px 50px;
    display: flex;
    justify-content: space-around
}

#image_coca{
    width: 130px;
}

#image_chocolat_chaud , #image_tea , #image_cafe , #image_smoothie ,#image_coca {
    margin-left:  5px;
    margin-right: 5px;
    border-radius: 4px;
    padding-bottom: 15px;
}

#discription_des_boissons{
    display: flex;
    justify-content: space-around;
}

.boisson_et_son_nom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


