* {
    margin: 0;
    padding: 0;
}


#block_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(224, 173, 132);
    padding: 5px 0px 0px 0px;
}

#nom_du_cafe {
    letter-spacing: 6px;
}

#nom_du_cafe:hover{
    cursor: pointer;
}

#image_cafe_acceuillante_arriere_plan {
    margin: auto;
    display: flex;
    justify-content: center;
}

#titre_nos_boissons{
    display: flex;
    justify-content: center;
    padding: 30px;
    letter-spacing: 6px;
}

#content_boissons{
    margin: 15px 50px 0px 50px;
    display: flex;
    justify-content: space-around
}

#image_coca{
    width: 130px;
    margin-bottom: 20px;
}

#image_chocolat_chaud , #image_tea , #image_cafe , #image_smoothie ,#image_coca {
    margin-left:  5px;
    margin-right: 5px;
    border-radius: 4px;
    padding-bottom: 15px;
}

.boisson_et_son_nom{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 30px 50px;
    background-color: rgb(64, 34, 24);
    border-radius: 3px;
    color: white;
}

.boisson_et_son_nom:hover{
    cursor:pointer;
}

.nom_uniquement{
    letter-spacing: 6px;
    font-weight: bold;
    margin-bottom: 10px;
}

.taille_de_boisson_chocolat , .taille_de_boisson_cafe, .taille_de_boisson_smoothie{
    width: 120%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.prix_des_boissons{
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.taille_de_boisson_tea{
    width: 120%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.taille_de_boisson_coca{
    width: 110%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.prix_tea{
    margin-left: 85px;
}

.prix_coca{
    margin-left: 95px;
}

#titre_formulaire{
    display: flex;
    justify-content: center;
    margin: 20px;
    letter-spacing: 6px;
}

#content_form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selection_boissons , #selection_taille{
    width: 250px;
    margin: 5px;
}

.label_titre{
    font-weight: bold;
}

#selection_boissons , #selection_taille:hover{
    cursor: pointer;
    box-shadow: 1px 1px;
    border-color: rgb(64, 34, 24);
}

#submit{
    margin: 10px;
    padding: 5px;
    letter-spacing: 2px;
    border:none
}

#submit:hover{
 border: 2px;
 border-radius: 2px;
 background-color: rgb(225, 221, 221);
 padding: 10px;
 cursor: pointer;
}